@model PictureListViewModel
@{
    ViewBag.Title = "作品列表";
    ViewBag.FirstTab = "作品管理";
    ViewBag.SecondTab = "作品列表";
    Layout = "/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    table thead{
        color: rgb(92,154,207);
    }
    #table tr{
        font-family: '微软雅黑';
    }
    #table th{
        font-size: 16px;
        cursor: default;
        color: rgb(54,198,222);
    }
    #table td{
        font-size: 15px;
        cursor: default;
        color: rgb(51,122,183);
    }
</style>
<div class="container-fluid">
    <table class="table" id="table">
        <tbody>
            <tr>
                <th>姓名</th>
                <td>@Model.author.Name</td>
                <th>Email</th>
                <td>@Model.author.Email</td>
                <th>创建时间</th>
                <td>@Model.author.CreateTime</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container-fluid">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>标题</th>
                <th>分类</th>
                <th>创建时间</th>
                <th>票数</th>
                <th>操作<span class="badge badge-info pull-right">总数量:@Model.Pictures.Count()</span></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Picture item in Model.Pictures)
            {
                <tr>
                    <td>@item.PictureID</td>
                    <td>@item.Title</td>
                    <td>@item.CategoryID</td>
                    <td>@item.CreateTime</td>
                    <td>@item.Votes</td>
                    <td>
                        <a asp-action="Update" asp-controller="Picture" asp-route-PictureID="@item.PictureID" class="btn btn-success btn-sm">编辑</a>|
                        <a asp-action="Detail" asp-controller="Picture" asp-route-PictureID="@item.PictureID" class="btn btn-primary btn-sm">查看详情</a>|
                        <a href="javascript:Delete(@item.PictureID,@item.AuthorID);" class="btn btn-danger btn-sm">删除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    function Delete(PictureID, AuthorID) {
        var entity={
            PictureID:PictureID,
            AuthorID:AuthorID
        };
        $.post("/Admin/Picture/Delete", entity, function (data) {
            switch (data.JResultCode) {
                case 0:
                    alert("Failure");
                    break;
                case 1:
                    alert("OK");
                    break;
            }
        });

    }
</script>